<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма категории</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"></head>

</head>
<body>
<div class="container">
    <div th:replace="~{fragments/header::header}">Header</div>

    <h1 th:text="${category.id} == null ? 'Добавление категории' : 'Редактирование категории'">Добавление/Редактирование категории</h1>

    <div th:replace="~{fragments/violations::violations}"></div>

    <form action="#" th:action="@{/category}" th:object="${category}" method="post">
        <div class="form-group">
            <input type="number" th:field="*{id}" hidden>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Наименование категории</label>
            <input th:field="*{name}" id="title" type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Укажите наименование">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Алиас категории</label>
            <input th:field="*{alias}" id="price" type="text" step="0.01" class="form-control" aria-describedby="emailHelp" placeholder="Укажите алиас" >
        </div>

        <div class="mb-3">
            <label for="categories" class="form-label">Родительская категория</label>
            <select id="categories" class="form-select" th:field="*{parentCategory}">
                <option value="">Без родителя</option>
                <option th:each="c : ${categories}"
                        th:value="${{c}}"
                        th:text="${c.name}"
                        th:if="${!c.equals(category)}"
                        th:selected="${c.equals(category.parentCategory)}"
                >
                    Category
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

    <div th:replace="~{fragments/footer::footer}">Footer</div>
</div>

</body>
</html>